.box{
    transition: 0.5s;
    height: 180px;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
.box2{
    transition: 0.5s;
    height: auto;
}
.box2:hover{
    transform: scale(1.1);
    z-index: 2;
}
.bg{
    width: 100%;
}
/* .no{
    background-color: green;
} */ 