@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  @apply transition-colors duration-300;
}


  
/* Books.css */
.search-bar {
  width: 100%;
  padding-left: 2rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 2.8rem;
}

.search-icon {
  position: absolute;
  color: #808080;
  left: 13px;
  top: 19px;
}
 

.borrow-button {
  margin-top: 0.5rem/* 8px */;
  width: 80%;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid rgb(38 38 38);
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  padding-bottom: 6px;
  padding-top: 0.5rem/* 8px */;
  font-size: 12px;
  line-height: 1rem/* 16px */;
  font-weight: 500;
  text-transform: uppercase;
}


.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.pagination a {
  border-radius: 0.25rem/* 4px */;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #ab1818;
  background-color: rgb(171, 30, 30);
  color: #b01111;
}